<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>This is my fist servllet</servlet-name>
        <servlet-class>in.abc.servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>This is my fist servllet</servlet-name>
        <url-pattern>/this/is/my</url-pattern>
        <url-pattern>/second</url-pattern>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
